# Compiled Object files
*.o
build/
build/*

# Precompiled Headers
*.gch
*.pch

# Executables
bin/
bin/*

# VIM swap file
*.swp

# Spec PDFs
*.pdf

# Timing log files
*time

# Project specific names
final_project

